@mixin mixin-transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin linear-gradient () {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#afd7ff+0,9dccfb+44,8bc0f5+100 */
    background: #afd7ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #afd7ff 0%, #9dccfb 44%, #8bc0f5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #afd7ff 0%, #9dccfb 44%, #8bc0f5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #afd7ff 0%, #9dccfb 44%, #8bc0f5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: unquote('progid: DXImageTransform.Microsoft.gradient( startColorstr='#afd7ff', endColorstr='#8bc0f5', GradientType=0)');
    /* IE6-9 */
}