@import './variables.scss';
@import './mixins.scss';

#top-nav-bar {
    height: $header-height;
    position: fixed;
    width: 100vw;
    text-align: right;
    line-height: $header-height;
    #nav-links {
        display: inline-block;
        font-size: 1.20em;
        margin-right: 40px;
        z-index: 999999999999999999999999999999999999;
        position: relative;
        @include mixin-transition($fade-transition-background);
        a {
            position: relative;
            display: inline-block;
            height: 100%;
            min-width: 10vw;
            /*
            background: rgba(0, 0, 0, 0.5);
            border: 0.1em solid rgba(255, 255, 255, 0.75);
            border-top-style: none;*/
            padding: 0 2em;
            //margin: 0 2em;
            //padding: 1em;
            color: white;
            text-decoration: none;
            text-align: center;
            box-sizing: border-box;
            @include mixin-transition($fade-transition-background);
        }
        a:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-bottom: 10px solid rgba(255, 255, 255, 0.9);
            color: lightgrey;
            @include mixin-transition($fade-transition-background);
        }
    }
}